body {
  margin: 20px;
  padding: 20px;
  background: #f7e8d8;
}

.total {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  align-items: start;
}

.your-cart {
  flex: 1;
  background: white;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  text-align: center;
  height: fit-content;
  display: inline-block;
  padding: 15px;
  margin: 15px;
}

.rouge {
  color: rgb(255, 80, 80);
  text-align: left;
}

.center {
  text-align: center;
}

.Desserts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  background-color: #f7e8d8;
  align-items: center;
  width: 210px;
  position: relative;
}

.bouton {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #afaeae;
  border-radius: 20px;
  background-color: white;
  width: 70%;
  padding: 10px 0;
  font-family: "Segoe UI", Calibri, sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
}

button {
  margin-top: -100px;
}

button:hover {
  background-color: rgb(255, 130, 0);
  color: white;
}

img {
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px;
  max-width: 180px;
}

.price {
  color: rgb(225, 35, 5);
}

.definition {
  color: rgb(120, 120, 120);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
